<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AppName" value="Dingtian IOT Relay" />
    <add key="IPAddress" value="192.168.103.251" />
    <add key="Sensor1" value="Relay #1" />
    <add key="Sensor2" value="Relay #2" />
    <add key="Sensor3" value="Relay #3" />
    <add key="Sensor4" value="Relay #4" />
    <add key="Sensor5" value="Relay #5" />
    <add key="Sensor6" value="Relay #6" />
    <add key="Sensor7" value="Relay #7" />
    <add key="Sensor8" value="Relay #8" />
  </appSettings>
</configuration>